$background: #050313;
$white: #ffffff;
$gradient1: linear-gradient(273.78deg, #ff1f00 5.01%, #ff6b00 47.1%, #ffc700 98.99%);
$gradient2: linear-gradient(180deg, rgba(5, 3, 19, 0.96) 0%, rgba(5, 3, 19, 0) 100%);
$header__cta: #0c0b11;
$nav__active: #ffc700;
$bullets: rgba(255, 31, 0, 0.7);
$indicator1: rgba(255, 255, 255, 0.7);
$star: #ffc700;
$star2: rgba(255, 255, 255, 0.4);
